body {
    background-color: black;
    color: white;
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: #222831;
      color: #eeeeee;
    }
  }
  .card{
      background-color:#393e46;
      margin-left: auto;
  }
.table-striped{
  margin-top: 50px;
}
.card1{
  margin-left: auto;
  background-color:#393e46 ;
}
