body {
    background-color: black;
    color: white;
  }
  @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
  }
  .card{
      background-color:#b1b1b1 ;
      margin-left: auto;
  }
.table-striped{
  margin-top: 50px;
}
.card1{
  margin-left: auto;
  background-color:#b1b1b1 ;
}